<div class="search-container">
  <input type="text" placeholder="Search books" [(ngModel)]="searchQuery" (keyup)="searchBooks()">
  <button mat-icon-button (click)="this.bookService.clearSearch()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="main-container">
  <div class="filters-container">
    <h4>Filters</h4>
    <div class="filter-group">
      <label for="filter-category">Category:</label>
      <select id="filter-category" [(ngModel)]="this.bookService.selectedCategory" (change)="this.bookService.applyFilters()">
        <option value="All">All Categories</option>
        <option *ngFor="let category of this.bookService.categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="filter-group">
      <label for="filter-price">Price Range:</label>
      <select id="filter-price" [(ngModel)]="this.bookService.selectedPriceRange" (change)="this.bookService.applyFilters()">
        <option value="All">Any Price</option>
        <option value="0-10">$0 - $10</option>
        <option value="10-25">$10 - $25</option>
        <option value="25-50">$25 - $50</option>
        <option value="50+">$50+</option>
      </select>
    </div>

    <div class="filter-group">
      <label for="filter-rating">Rating:</label>
      <select id="filter-rating" [(ngModel)]="this.bookService.selectedRating" (change)="this.bookService.applyFilters()">
        <option value="All">Any Rating</option>
        <option value="5">5 Stars</option>
        <option value="4">4 Stars</option>
        <option value="3">3 Stars</option>
        <option value="2">2 Stars</option>
        <option value="1">1 Star</option>
      </select>


      <div class="filter-group">
        <label for="filter-sort">Sort By:</label>
        <select id="filter-sort" [(ngModel)]="this.bookService.selectedSort" (change)="this.bookService.applyFilters()">
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="price">Price</option>
          <option value="rating">Rating</option>
        </select>


      </div>

      <div class="filter-group">
        <label for="filter-order">Order:</label>
        <select id="filter-order" [(ngModel)]="this.bookService.selectedOrder" (change)="this.bookService.applyFilters()">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
      <hr>
      <div class="filter-group">
        <span for="filter-order">Result: <strong>{{ this.bookService.filteredBooks.length }}</strong></span>
        <div>
          <button mat-raised-button color="primary" (click)="this.bookService.clearFilters()">Clear Filters</button>

        </div>
      </div>
    </div>
  </div>

  <div class="book-grid">
    <div class="book-card" *ngFor="let book of this.bookService.displayedBooks">
      <div class="book-container">
        <img [src]="book.cover" alt="Book Cover" class="book-cover">
        <div class="overlay">
          <button class="view-button" (click)="openModal(book)">
            <i class="far fa-eye"></i>
            <span class="view-text">View</span>
          </button>
        </div>
      </div>
      <h3 class="book-title">{{ book.title }}</h3>
      <p class="book-category">{{ book.genre }}</p>
        <span >
          <i class="fas fa-star" colo>{{book.rating}}</i> 
        </span>        
      <p class="book-author">{{ book.author }}</p>
      <p class="book-price">Price: ${{ book.price }}</p>
      <button mat-raised-button color="primary" (click)="addToCart(book)">Add to Cart</button>
      <div class="quantity-counter" *ngIf="getBookQuantity(book) > 0">
        <button mat-icon-button (click)="decreaseQuantity(book)">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ getBookQuantity(book) }}</span>
        <button mat-icon-button (click)="increaseQuantity(book)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngIf="this.userService.token">
      <button class="favorite-button" aria-hidden="true" (click)="this.bookService.addToFavorites(book._id)" [ngClass]="{ 'favorite': this.bookService.isFavorite(book)  }">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </button>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <button class="pagination-button" (click)="previousPage()" [disabled]="this.bookService.currentPage === 1">
    Previous
  </button>
  <span class="pagination-info">Page {{ this.bookService.currentPage }} of {{ this.bookService.totalPages }}</span>
  <button class="pagination-button" (click)="nextPage()" [disabled]="this.bookService.currentPage === this.bookService.totalPages">
    Next
  </button>
</div>