

  .edit-book-form {
    max-width: 500px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea {
    height: 150px;
  }
  
  .container {
    overflow: auto;
    max-height: 400px; /* Set the desired max height for the container */
  }
  
  .form-container {
    display: flex;
  }
  
  .form-column {
    flex: 1;
    padding-right: 20px;
  }
  
  .create-book-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .form-group {
    width: 100%;
  }
  