<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Add these before the closing </body> tag -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-md-9">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Items in your cart</h5>
            <div class="m-t-sm">
              <button (click)="this.cartService.clearCart()" class="btn btn-link"><i class="fa fa-trash"></i> Clear Cart</button>
            </div>
            <span class="pull-right">(<strong>{{ cartItems.length }}</strong>) Books</span>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table shoping-cart-table">
                <tbody>
                  <tr *ngFor="let item of cartItems">
                    <td>
                      <div>
                        <img class="book-cover" [src]="item.cover" alt="Product Image">
                      </div>
                    </td>
                    <td class="desc">
                      <h3>
                        <a href="#">
                          {{ item.title }}
                        </a>
                      </h3>
                      <p class="small">
                        {{ item.author }}
                      </p>
                      <dl class="small m-b-none">
                        <dt>Rating</dt>
                        <dd>{{ item.rating }}/5</dd>
                      </dl>
                      <div class="m-t-sm">
                        <button (click)="removeItem(item)" class="btn btn-link"><i class="fa fa-trash"></i> Remove
                          item</button>
                      </div>
                    </td>
                    <td class="column">
                      <p>{{ item.price | currency }}</p>
                      <s *ngIf="item.price - item.discount > 0" class="small text-muted">{{ item.price - item.discount |
                        currency }}</s>
                    </td>

                    <td>
                      <h4>
                        {{ item.price * item.quantity | currency }}
                      </h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="ibox-content">
            <button *ngIf="total > 0" class="btn btn-primary pull-right" (click)="openPaymentDialog()"><i
                class="fa fa-shopping-cart"></i> Checkout</button>

            <a href="/" class="btn btn-white"><i class="fa fa-arrow-left"></i>Continue shopping</a>
          </div>
        </div>
        <div class="ibox">
          <hr>
          <div  *ngIf="this.userService.token" class="ibox-title">
            <h3>Books From Your Favorites</h3>
            <div class="scrolling-wrapper row">
              <div class="book-card" *ngFor="let book of this.favorites">
                <div class="book-container">
                  <img [src]="book.cover" alt="Book Cover" class="book-cover">
                </div>
                <h3 class="book-title">{{ book.title }}</h3>
                <p class="book-category">{{ book.genre }}</p>
                <span>
                  <i class="fas fa-star" colo>{{book.rating}}</i>
                </span>
                <p class="book-author">{{ book.author }}</p>
                <p class="book-price">Price: ${{ book.price }}</p>
                <button mat-raised-button color="primary" (click)="addToCart(book)">Add to Cart</button>
              </div>
            </div>



          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Order</h5>
          </div>
          <div class="ibox-content">
            <span>Total</span>
            <div *ngIf="couponTotal>0" class="font-bold text-success">
              <h2 class="font-bold">{{ couponTotal | currency }}</h2>
              <h3 class="text-muted"><del>{{ total | currency }}</del></h3>
            </div>
            <h2 *ngIf="couponTotal<=0" class="font-bold">{{ total | currency }}</h2>
            <hr>
            <div class="input-group">
              <input #coupon type="text" placeholder="Enter Coupon Code" class="form-control">
              <span class="input-group-btn">
                <button (click)="applyCoupon(coupon.value)" type="button" class="btn btn-primary">Apply</button>
              </span>
            </div>
            <p *ngIf="couponError" class="text-danger">{{ couponError }}</p>
            <p *ngIf="couponPercentage" class="text-success">{{ couponPercentage }}%</p>
            <p *ngIf="couponTotal" class="text-success">Expire on: {{ expiry }}</p>
            <hr>
            <div class="m-t-sm">
              <div class="btn-group">
                <button (click)="openPaymentDialog()" class="btn btn-primary pull-right">
                  <i class="fa fa fa-shopping-cart"></i> Checkout
                </button>

              </div>
            </div>

            <div class="ibox">
              <div class="ibox-title">
                <h5>Support</h5>
              </div>
              <div class="ibox-content text-center">
                <h3><i class="fa fa-phone"></i> +00 0000 00000 000</h3>
                <span class="small">24/7 support</span>
              </div>
            </div>
            <div class="ibox">
              <div class="ibox-content scrollable-content">
                <h4 class="font-bold">You may be interested in</h4>
                <hr>
                <div *ngFor="let book of topRatedBooks">
                  <div class="book-container">
                    <img [src]="book.cover" alt="Book Cover" class="book-cover">
                  </div>
                  <h3 class="book-title">{{ book.title }}</h3>
                  <p class="book-author">{{ book.author }}</p>
                  <p class="book-price">Price: ${{ book.price }}</p>
                  <button mat-raised-button color="primary" (click)="addToCart(book)">Add to Cart</button>
                  <button class="favorite-button" aria-hidden="true" (click)="this.bookService.addToFavorites(book._id)"
                    [ngClass]="{ 'favorite': this.bookService.isFavorite(book)  }">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>