@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body{margin-top:20px;
  background:#eee;
}
h3 {
  font-size: 16px;
}
.text-navy {
  color: #1ab394;
}
.favorite-button.favorite {
  color: red;
}
.view-text {
  margin-left: 5px;
}
.favorite-button:hover {
  color: red;
}

.favorite-button.active {
  color: red;
}
.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: gray lightgray;
}

.scrolling-wrapper::-webkit-scrollbar {
  height: 8px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
  background-color: lightgray;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

.book-cover {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 5px;
}
.book-card {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.favorite-button {
  bottom: 10px;
  left: 10px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-size: 24px;
  color: lightpink;
  transition: color 0.3s;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px 0;
  margin: 10px 0;
}

.cart-product-imitation {
text-align: center;
padding-top: 30px;
height: 80px;
width: 80px;
background-color: #f8f8f9;
}
.product-imitation.xl {
padding: 120px 0;
}
.product-desc {
padding: 20px;
position: relative;
}
.ecommerce .tag-list {
padding: 0;
}
.ecommerce .fa-star {
color: #d1dade;
}
.ecommerce .fa-star.active {
color: #f8ac59;
}
.ecommerce .note-editor {
border: 1px solid #e7eaec;
}
table.shoping-cart-table {
margin-bottom: 0;
}
table.shoping-cart-table tr td {
border: none;
text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
text-align: left;
}
table.shoping-cart-table tr td:last-child {
width: 80px;
}
.ibox {
clear: both;
margin-bottom: 25px;
margin-top: 0;
padding: 0;
}
.ibox.collapsed .ibox-content {
display: none;
}
.ibox:after,
.ibox:before {
display: table;
}
.ibox-title {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #ffffff;
border-color: #e7eaec;
border-image: none;
border-style: solid solid none;
border-width: 3px 0 0;
color: inherit;
margin-bottom: 0;
padding: 14px 15px 7px;
min-height: 48px;
}
.ibox-content {
background-color: #ffffff;
color: inherit;
padding: 15px 20px 20px 20px;
border-color: #e7eaec;
border-image: none;
border-style: solid solid none;
border-width: 1px 0;
}
.ibox-footer {
color: inherit;
border-top: 1px solid #e7eaec;
font-size: 90%;
background: #ffffff;
padding: 10px 15px;
}


.scrollable-content {
  max-height: 800px;
  overflow-y: auto;
}
